<section id="aboutUs" class="section">
  <!--Background image-->
  <div class="bgImage" style="background-image: url(https://i.postimg.cc/qBr4QDdP/fruits.jpg);"></div>
  <div class="aboutUsContent" id="card">
    <!--Logo image at the top, first element on my section-->
    <img class="logo" src="https://i.postimg.cc/BQVWWMdQ/logo.png" alt="veggieHappyLogo">
    <h2>Acerca de nosotros</h2>
    <p class="text" id="welcome">Veggie Happy es una red social  para personas vegetarianas y veganas.
      Buscamos brindar un espacio donde puedas conocer gente nueva, conectar con amigos que también llevan
      este estilo de vida y compartir recetas, tips, recomendaciones de restaurantes y encontrar productos
      y servicios al alcance de todos.</p>
    <p class="quote">"Ser vegana es para mí una forma de contribuir al mundo, a cada ser y a mí. Es una manera de aportar
      desde la compasión al bienestar de todos los seres y del planeta; es ofrecerle a mi cuerpo armonía. "</p>

  </div>

  <!-- <footer><img class="newsfeedBg" src="https://i.postimg.cc/d1jMzvKz/food.jpg" alt="footerPicture"></footer> -->
  <div class="navbar">
    <a href="javascript:onNavItemClick('/newsfeed')"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fas fa-globe-americas"></i></a>
    <a href="#"><i class="fas fa-user-friends"></i></a>
    <a href="javascript:onNavItemClick('/aboutus')" class="active"><i class="fas fa-info-circle"></i></a>
    <a href="javascript:onNavItemClick('/profile')"><i class="fas fa-user"></i></a>
  </div>

</section>
