<section id="login" class="section">
  <!-- I place my background image in a separate div, so I can edit its opacity
  without affecting the rest of the elements-->
  <div class="bgImage" style="background-image: url(https://i.postimg.cc/SRQ045Sj/verde.jpg);"></div>

  <div class="card" id="card">
    <!-- Div with all my content: logo, form and buttons -->
    <div class="loginContent">
      <!--Logo image at the top, first element on my section-->
      <img class="logo" src="https://i.postimg.cc/BQVWWMdQ/logo.png" alt="veggieHappyLogo">
      <!--Sign in form data-->
      <form class="signIn">
        <!--Input elements for both email and password-->
        <h2 class="label">E-mail</h2><input class="input" type="email" id="loginEmail" autofocus>
        <h2 class="label">Password</h2><input class="input" type="password" id="loginPassword">
        <!--Login button-->
        <button class="button jsBtn" data-next="login" dataFirst="loginEmail" dataSecond="loginPassword" type="button" id="signIn">Sign in</button>
        <!-- Link for when the user forgets its password -->
        <a class="forgotPassword" href="#">Forgot your password?</a>

        <p class="text">Don't have an account yet? <a class="signUp" id="signUp" href="javascript:flip();">Sign up!</a></p>
      </form>
    </div>

    <div class="registerContent">
      <!--Logo image at the top, first element on my section-->
      <img class="logo" src="https://i.postimg.cc/BQVWWMdQ/logo.png" alt="veggieHappyLogo">
      <!--Sign in form data-->
      <form class="register">
        <!--Input elements for both email and password-->
        <h2 class="label">Name</h2><input class="input" type="text" id="name" autofocus>
        <h2 class="label">Last name</h2><input class="input" type="text" id="lastname">
        <h2 class="label">City</h2><input class="input" type="text" id="city">
        <h2 class="label">Email</h2><input class="input" type="text" id="email">
        <h2 class="label">Password</h2><input class="input" type="password" id="password">
        <!--Login button-->
        <button class="button jsBtn" data-next="register" type="button" id="signUpBtn">Sign up!</button>

        <p class="text">Already have an account? <a class="signUp" href="javascript:flip();">Sign in!</a></p>
      </form>
    </div>

  </div>

</section>
