<section id="login" class="section">

  <!--Logo image at the top, first element on my section-->
  <img class="logo" src="https://i.postimg.cc/BQVWWMdQ/logo.png" alt="veggieHappyLogo">
  <p class="text" id="welcome"></p>

  <div class="createPost">
    <h2 class="createPostTitle">Create post</h2>
    <textarea class="postContent" name="name" rows="6" cols="40" id="postContent"></textarea>
    <button class="postButton jsBtn" data-next="publish" type="button" id="publish">Publish</button>
  </div>

  <div id="allPosts" class="allPosts"></div>

  <!-- <footer><img class="newsfeedBg" src="https://i.postimg.cc/d1jMzvKz/food.jpg" alt="footerPicture"></footer> -->
  <!-- <footer><img class="newsfeedBg" src="https://i.postimg.cc/d1jMzvKz/food.jpg" alt="footerPicture"></footer> -->
  <div class="navbar">
    <a href="javascript:onNavItemClick('/newsfeed')" class="active"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fas fa-globe-americas"></i></a>
    <a href="#"><i class="fas fa-user-friends"></i></a>
    <a href="javascript:onNavItemClick('/aboutus')"><i class="fas fa-info-circle"></i></a>
    <a href="javascript:onNavItemClick('/profile'); javascript:printProfile()"><i class="fas fa-user"></i></a>
  </div>

</section>
