<section id="profile" class="section">

  <!--Logo image at the top, first element on my section-->
  <img class="logo" src="https://i.postimg.cc/BQVWWMdQ/logo.png" alt="veggieHappyLogo">


  <!--Log out button-->
  <button class="button jsBtn" data-next="logout" type="button" id="signIn">Log out</button>

  <!-- <footer><img class="newsfeedBg" src="https://i.postimg.cc/d1jMzvKz/food.jpg" alt="footerPicture"></footer> -->
  <!-- <footer><img class="newsfeedBg" src="https://i.postimg.cc/d1jMzvKz/food.jpg" alt="footerPicture"></footer> -->
  <div class="navbar">
    <a href="javascript:onNavItemClick('/newsfeed')" class="active"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fas fa-globe-americas"></i></a>
    <a href="#"><i class="fas fa-user-friends"></i></a>
    <a href="javascript:onNavItemClick('/aboutus')"><i class="fas fa-info-circle"></i></a>
    <a href="javascript:onNavItemClick('/profile')"><i class="fas fa-user"></i></a>
  </div>

</section>
